# Data Cleaning

In [16]:
import pandas as pd
import numpy as np
from datetime import datetime
import re
pd.set_option('display.max_columns', 100)

In [17]:
data = pd.read_csv("df_products.csv")
data.head(2)

,product_id,product_name,composition,color,size,fit,additional material information,messages.garmentlength,messages.waistrise,care instructions,material,description,imported,concept,price,messages.clothingstyle,collection,style_id,color_id,scrapy_datetime
0,690449001,Skinny Jeans,"Cotton 99%, Spandex 1%",NaN,NaN,Skinny fit,NaN,Long,Regular waist,Machine wash cool,keyFibreType,Light denim blue,Yes,DENIM,\r\n $13.99,Trashed,NaN,690449,1,2022-12-04 07:13:59.233497
1,690449002,Skinny Jeans,"Cotton 98%, Spandex 2%",NaN,NaN,Skinny fit,NaN,Long,Regular waist,Machine wash cool,keyFibreType,Denim blue,Yes,DENIM,\r\n $14.99,Trashed,NaN,690449,2,2022-12-04 07:13:59.233497

In [19]:
data2 = data.copy()


for i in ['product_name', 'fit', 'description', 'material']:
    data2[i] = data2[i].apply( lambda x: x.replace(" ", "_").lower())
    data2[i] = data2[i].apply( lambda x: x.replace("/", "_").lower())

data2['composition'] = data2['composition'].str.lower()

data2['price'] = data2['price'].apply( lambda x: x.replace("$", "")).astype(float)

data2['scrapy_datetime'] = pd.to_datetime(data2['scrapy_datetime'], format = "%Y-%m-%d %H:%M:%S")

# data2['size_number'] = data2['size'].apply( lambda x: re.search("\d+[^cm]*", x).group(0) if pd.notnull( x ) else x ).astype('float').astype('float64')

# data2['size_model'] = data2['size'].str.extract( '(\d+\/\d+)' )

data2 = data2.drop(['size'], axis=1)

for i in ['style_id', 'color_id', 'product_id']:
    data2[i] = data2[i].astype(int)


print(data2.shape)

#for i in ['lining', 'shell', 'pocket']:
#    data2 = data2[~data2['composition'].str.contains( i, na=False) ]

print(data2.shape)
data2 = data2.drop_duplicates()
print(data2.shape)


data2 = data2.reset_index(drop=True)

print(data2.shape)

data2 = data2[['']]

data2.head(2)

(179, 19)
(179, 19)
(179, 19)
(179, 19)

,product_id,product_name,composition,color,fit,additional material information,messages.garmentlength,messages.waistrise,care instructions,material,description,imported,concept,price,messages.clothingstyle,collection,style_id,color_id,scrapy_datetime
0,690449001,skinny_jeans,"cotton 99%, spandex 1%",NaN,skinny_fit,NaN,Long,Regular waist,Machine wash cool,keyfibretype,light_denim_blue,Yes,DENIM,13.99,Trashed,NaN,690449,1,2022-12-04 07:13:59.233497
1,690449002,skinny_jeans,"cotton 98%, spandex 2%",NaN,skinny_fit,NaN,Long,Regular waist,Machine wash cool,keyfibretype,denim_blue,Yes,DENIM,14.99,Trashed,NaN,690449,2,2022-12-04 07:13:59.233497

In [22]:
data2 = data2[[ 'product_id','style_id', 'color_id', 'product_name', 'composition', 'color', 'fit','price' ]]
data2.head(3)

,product_id,style_id,color_id,product_name,composition,color,fit,price
0,690449001,690449,1,skinny_jeans,"cotton 99%, spandex 1%",NaN,skinny_fit,13.99
1,690449002,690449,2,skinny_jeans,"cotton 98%, spandex 2%",NaN,skinny_fit,14.99
2,690449006,690449,6,skinny_jeans,"cotton 98%, spandex 2%",NaN,skinny_fit,7.99

t = df1[df1.notna().all(axis=1)].head(1).agg(" -".join, axis=1)
t

# cotton | polyester | elastano | elasterell
df_ref = pd.DataFrame( index=np.arange( len( data ) ), columns=['cotton','polyester', 'elastane', 'elasterell'] )
# cotton
df_cotton = df1[0]
df_cotton.name = 'cotton'
df_ref = pd.concat( [df_ref, df_cotton ], axis=1 )
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated( keep='last')]
df_cotton = df1.loc[df1[0].str.contains( 'cotton', na=True ), 1]
# polyester
df_polyester = df1.loc[df1[1].str.contains( 'polyester', na=True ), 1]
df_polyester.name = 'polyester'
df_ref = pd.concat( [df_ref, df_polyester], axis=1 )
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated( keep='last') ]
# elastano
df_elastane = df1.loc[df1[1].str.contains( 'elastane', na=True ), 1]



df_elastane.name = 'elastane'
df_ref = pd.concat( [df_ref, df_elastane], axis=1 )
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated( keep='last') ]
# elasterell
df_elasterell = df1.loc[df1[1].str.contains( 'elasterell', na=True ), 1]
df_elasterell.name = 'elasterell'
df_ref = pd.concat( [df_ref, df_elasterell], axis=1 )
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated( keep='last') ]
# final join
df1 = pd.concat( [df1, df_ref], axis=1 )
# format composition df1
df1['cotton'] = df1['cotton'].apply( lambda x: int( re.search( '\d+', x ).group(0) ) / 100 if pd.notnull( x ) else x )
df1['polyester'] = df1['polyester'].apply( lambda x: int( re.search( '\d+', x).group(0) ) / 100 if pd.notnull( x ) else x )
df1['elastane'] = df1['elastane'].apply( lambda x: int( re.search( '\d+', x ).group(0) ) / 100 if pd.notnull( x ) else x )
df1['elasterell'] = df1['elasterell'].apply( lambda x: int( re.search( '\d+',x ).group(0) ) / 100 if pd.notnull( x ) else x )
df1.head()

# Some database commands

SELECT - Extraí dados de um banco de dados
UPDATE - Atualiza um dado no banco de dados
DELETE - Apaga dados de uma tabela do banco de dados, mas mantém a estrutura da tabela
INSERT INTO - Insere um novo registro em um banco de dados
CREATE DATABASE - Criau um novo banco de dados
ALTER DATABASE - Modifica um banco de dados
CREATE TABLE - Cria uma nova tabela
ALTER TABLE - Modifica um tabela
DROP TABLE - Apaga a tabela e a estrutura
CREATE INDEX - Cria um index ( chave de busca )
DROP INDEX - Apaga o index

In [23]:
data2.to_csv( "df_products_cleaned.csv", index=False )