# Data Cleaning

In [6]:
import pandas as pd
import sqlite3

In [7]:
data = pd.read_csv("df_products_cleaned.csv")
data.head(2)

,product_id,product_category,product_name,product_price,scrapy_datetime,additional material information,art. no.,care instructions,collection,composition,concept,description,fit,imported,material,style_id,color_id,size_number,size_model
0,1024256001,men_jeans_slim,slim_jeans,19.99,2022-11-30 05:56:05,NaN,1024256001,Only non-chlorine bleach when needed,NaN,"shell: cotton 99%, spandex 1%",DENIM,black,slim_fit,Yes,denim,1024256,1,NaN,NaN
1,1024256001,men_jeans_slim,slim_jeans,19.99,2022-11-30 05:56:05,NaN,1024256001,Medium iron,NaN,"pocket lining: polyester 65%, cotton 35%",DENIM,solid-color,slim_fit,Yes,denim,1024256,1,NaN,NaN

In [9]:
data.columns

Index(['product_id', 'product_category', 'product_name', 'product_price',
       'scrapy_datetime', 'additional material information', 'art. no.',
       'care instructions', 'collection', 'composition', 'concept',
       'description', 'fit', 'imported', 'material', 'style_id', 'color_id',
       'size_number', 'size_model'],
      dtype='object')

In [10]:
data.dtypes

product_id                           int64
product_category                    object
product_name                        object
product_price                      float64
scrapy_datetime                     object
additional material information     object
art. no.                             int64
care instructions                   object
collection                         float64
composition                         object
concept                             object
description                         object
fit                                 object
imported                            object
material                            object
style_id                             int64
color_id                             int64
size_number                        float64
size_model                          object
dtype: object

In [13]:
query_showroom_schema = """

    CREATE TABLE showroom (

        product_id          INTEGER,
        product_category    TEXT, 
        product_name        TEXT, 
        product_price       REAL,
        scrapy_datetime     TEXT, 
        additional material information     TEXT,
        art no            INTEGER,
        care instructions   TEXT, 
        collection          REAL,
        composition         TEXT, 
        concept             TEXT,
        description         TEXT, 
        fit                 TEXT, 
        imported            TEXT, 
        material            TEXT, 
        style_id            INTEGER, 
        color_id            INTEGER,
        size_number         REAL, 
        size_model          TEXT
)

"""

In [14]:
# connect to database

conn = sqlite3.connect( 'hm_db.sqlite' )
cursor = conn.execute( query_showroom_schema )
conn.commit()
conn.close()

In [ ]:
#CHANGE ART NO COLUMN NAME